<div class="booking-card confirmation-card">
  <div class="booking-header">
    <p class="booking-header-text">Booking Confirmation</p>
  </div>
  <div class="list-content">
    <p class="alignleft">Token Number : </p>
    <p class="alignright">{{this.bookingRequest.bookingToken}}</p>
  </div>
  <div style="clear: both;"></div>

  <div class="list-content">
    <p class="alignleft">Full Name : </p>
    <p class="alignright">{{this.bookingRequest.fullName}}</p>
  </div>
  <div style="clear: both;"></div>

  <div class="list-content">
    <p class="alignleft">Phone Number : </p>
    <p class="alignright">{{this.bookingRequest.phoneNo}}</p>
  </div>
  <div style="clear: both;"></div>

  <div class="list-content">
    <p class="alignleft">Email Address</p>
    <p class="alignright">{{this.bookingRequest.email}}</p>
  </div>
  <div style="clear: both;"></div>

  <div class="list-content">
    <p class="alignleft">Seva Type : </p>
    <p class="alignright">{{this.bookingRequest.bookingType}}</p>
  </div>
  <div style="clear: both;"></div>

  <div class="list-content">
    <p class="alignleft">Booking Slot : </p>
    <p class="alignright">{{this.bookingRequest.bookingSlot}}</p>
  </div>
  <div style="clear: both;"></div>
</div>
