<div class="container mt-5">
  <div class="main-section">
    <div class="logo-section">
      <img src="https://sbat.org/assets/images/logo.png" class="logo">
    </div>
    <div class="appointment-section">
      <div class="card" *ngIf="this.bookingRequest.bookingToken ==='' ">
        <div class="card-header">
          <h5 class="header">Seva Booking</h5>
        </div>
        <div class="card-body">
          <mat-form-field class="tp-full-width form-section">
            <input matInput type="text" id="name" placeholder="Name" [(ngModel)]="this.bookingRequest.fullName">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="tp-full-width form-section">
            <input matInput type="number" id="phone" placeholder="Phone" [(ngModel)]="this.bookingRequest.phoneNo" maxlength="10">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid phone number
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Phone is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="tp-full-width form-section">
            <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com"id="email" [(ngModel)]="this.bookingRequest.email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="tp-full-width form-section">
            <mat-label>Seva Type</mat-label>
            <mat-select placeholder="Appointment Type" name="appointmentType" [(ngModel)]="this.bookingRequest.bookingType">
              <mat-option *ngFor="let type of appointmentTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="tp-full-width form-section">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" disabled (dateChange)="getTimings($event.target.value)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="tp-full-width form-section" *ngIf="timings.length > 0">
            <mat-label>Seva Time</mat-label>
            <mat-select placeholder="Appointment Time" name="appointmentTime" [(ngModel)]="this.selectedTime" (selectionChange)="setTiming()">
              <mat-option *ngFor="let time of timings" [value]="time">
                {{time}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="form-group mt-2">
            <button type="button" class="btn submitButton" (click)="submitForm()">Submit
            </button>
          </div>
        </div>
      </div>

      <div class="card confirmation-card" *ngIf="this.bookingRequest.bookingToken !='' ">
        <div class="card-header">
          <h5 class="header">Booking Confirmation</h5>
        </div>
        <div class="list-content">
          <p class="alignleft">Token Number : </p>
          <p class="alignright">{{this.bookingRequest.bookingToken}}</p>
        </div>
        <div style="clear: both;"></div>

        <div class="list-content">
          <p class="alignleft">Full Name : </p>
          <p class="alignright">{{this.bookingRequest.fullName}}</p>
        </div>
        <div style="clear: both;"></div>

        <div class="list-content">
          <p class="alignleft">Phone Number : </p>
          <p class="alignright">{{this.bookingRequest.phoneNo}}</p>
        </div>
        <div style="clear: both;"></div>

        <div class="list-content">
          <p class="alignleft">Email Address</p>
          <p class="alignright">{{this.bookingRequest.email}}</p>
        </div>
        <div style="clear: both;"></div>

        <div class="list-content">
          <p class="alignleft">Seva Type : </p>
          <p class="alignright">{{this.bookingRequest.bookingType}}</p>
        </div>
        <div style="clear: both;"></div>

        <div class="list-content">
          <p class="alignleft">Booking Slot : </p>
          <p class="alignright">{{this.bookingRequest.bookingSlot}}</p>
        </div>
        <div style="clear: both;"></div>

      </div>

    </div>
  </div>
</div>
